<div class="container">
    <div class="title-container">
        <h1>Reservas ejecutadas</h1>
    </div>
    <div class="booking-container">
        <div class="headerBookings">
            <div class="item">
                Nombre
            </div>
            <div class="item">
                Apellido
            </div>
            <div class="item">
                Teléfono
            </div>
            <div class="item">
                Email
            </div>
            <div class="item">
                Fecha
            </div>
            <div class="item">
                Hora
            </div>
        </div>
        <div id="tableBody">
            
        </div>
    </div>
</div>