<div class="container">
    <div class="title-container">
        <h1>Reservas ejecutadas</h1>
    </div>
    <div class="booking-container">
        <div class="headerBookings">
            <div class="item">
                Nombre
            </div>
            <div class="item">
                Apellido
            </div>
            <div class="item">
                Teléfono
            </div>
            <div class="item">
                Email
            </div>
            <div class="item">
                Fecha
            </div>
            <div class="item">
                Hora
            </div>
        </div>
        <div class="bodyBookings">
            <div class="item">
                Alejandro
            </div>
            <div class="item">
                Roa
            </div>
            <div class="item">
                3132103347
            </div>
            <div class="item">
                alejodev04@gmail.com
            </div>
            <div class="item">
                01/01/2020
            </div>
            <div class="item">
                01:01
            </div>
        </div>
        <div class="bodyBookings">
            <div class="item">
                Alejandro
            </div>
            <div class="item">
                Roa
            </div>
            <div class="item">
                3132103347
            </div>
            <div class="item">
                alejodev04@gmail.com
            </div>
            <div class="item">
                01/01/2020
            </div>
            <div class="item">
                01:01
            </div>
        </div>
        <div class="bodyBookings">
            <div class="item">
                Alejandro
            </div>
            <div class="item">
                Roa
            </div>
            <div class="item">
                3132103347
            </div>
            <div class="item">
                alejodev04@gmail.com
            </div>
            <div class="item">
                01/01/2020
            </div>
            <div class="item">
                01:01
            </div>
        </div>
        <div class="bodyBookings">
            <div class="item">
                Alejandro
            </div>
            <div class="item">
                Roa
            </div>
            <div class="item">
                3132103347
            </div>
            <div class="item">
                alejodev04@gmail.com
            </div>
            <div class="item">
                01/01/2020
            </div>
            <div class="item">
                01:01
            </div>
        </div>
        <div class="bodyBookings">
            <div class="item">
                Alejandro
            </div>
            <div class="item">
                Roa
            </div>
            <div class="item">
                3132103347
            </div>
            <div class="item">
                alejodev04@gmail.com
            </div>
            <div class="item">
                01/01/2020
            </div>
            <div class="item">
                01:01
            </div>
        </div>
    </div>
</div>