<div class="container">
    <div class="title-container">
        <h1>Sistema de reservas</h1>
        <p>Llene el formulario para ejecutar la reserva correctamente</p>
    </div>
    <form class="form-container">
        <input type="text" name="name" placeholder="Nombre" id="name">
        <input type="text" name="lastName" placeholder="Apellido" id="name">
        <input type="text" name="phone" placeholder="Teléfono" id="name">
        <input type="email" name="email" placeholder="Email" id="name">
        <input placeholder="Date" type="text" onfocus="(this.type='date')" id="date">
        <input placeholder="Time" type="text" onfocus="(this.type='time')" id="time">
    </form>
    <div class="button-container">
        <button id="action" class="btnReserve" type="submit">Reservar</button>
    </div>
</div>